body {
  font-family: Arial, sans-serif;
  background: url("background.jpg") center center / cover no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35); /* adjust darkness here */
  z-index: -1;
}


.container {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
}

#noBtn {
  background-color: #ddd;
  position: relative;
}
